<div class="flame">

  <%# ヘッダー %>
  <div class="header">
    <div class="header--message">
      My_English_Practice
    </div>
  </div>


  <%# コンテンツ %>
  <div class="contents">

    <%# カレンダー&youtube %>
    <div class="contents1">

      <div class="content1--right">
        カレンダー
      </div>
      <div class="content1--left">
        youtube動画(フォニックス英単語)
      </div>
    </div>

    <%# メニューボタン %>
    <div class="contents2">
      <div class="content2--bottom">
        <%= link_to '新規単語登録', new_english_word_path, class: "content2--bottom--btn" %>
        <%= link_to '単語の編集', '#' %>
        <%= link_to '単語の削除', '#' %>
        <%= link_to 'テスト', '#' %>
      </div>
    </div>

  </div>


  <%# フッター  %>
  <div class="footer">
    <div class="footer--message">
      フッター 
    </div>
  </div>
    
</div>
