
  <div class="contents__top">
    <%= link_to '新規単語登録', new_english_word_path, class: "content2--bottom--btn" %> 
    <%= link_to 'テスト', '#' %>
  </div>
  <%# メインコンテンツ %>
  <div class="contents__main">
      <%# カレンダー&youtube %>
      <div class="content__left">
        <div class="content__left__title">
          【 登録単語一覧 】 
        </div>
        <div class="content__left__flame">
          <% @english_words.each do |english_word|%>
        <div class="content__left__flame__box">
            <%= link_to ("#{english_word.key_word}: 文法"), english_word_path(english_word.id), class: "content__left__box--word"  %> <%#式展開を記述("#{}")%>
        </div>
          <%end%>
        </div>  
      </div>
      <%# メニューボタン %>
      <div class="content__right">
        <div class="content__right--box">
          youtube動画(フォニックス英単語)
        </div>
      </div>
  </div>
  