<div class="question__main">

  <%# 各種画面へのリンクフレーム %>
  <div class="new--contents__header">
    <div class="new--contents__header__link">
      <%= link_to 'TOPに戻る', root_path, class:"redirect__btn"%> 
    </div>
  </div>

  <section class="container">
    <p id="question"></p>
    <ul id="choices">
    </ul>
    <div id="btn" class="disabled">NEXT</div>

    <section id="result" class="hidden">
      <p></p>
      <a href="">Reaply?</a>
    </section>
  </section>
  <div class="test"> </div>
</div>  
