<div class="question__main">
  <section class="container">
    <p id="question"></p>
    <ul id="choices">
    </ul>
    <div id="btn" class="disabled">NEXT</div>

    <section id="result" class="hidden">
      <p></p>
      <a href="">Reaply?</a>
    </section>
  </section>
</div>  
