// ↑使わなければ消す
.flame {
  width: 100%;

  background-color: lightslategray;

  // ヘッダー
  .header {
    background-color: pink;
    height: 150px;
    background-image:url(samplee.jpg);
    background-size: cover;
    font-size: 50px;
    font-weight: bold;
    color: lightyellow;
  }
  
  // メインコンテンツ
  .contents__main {
    background-color: red;
    display: flex;
    justify-content: space-between;
    .content__left {
      height: 400px;
      width: 960px;
      background-color: skyblue;
      
    }
    .content__right {
      width: calc(100% - 960px);
      background-color: lightseagreen;
    }
  }
  
  .contents__bottom {
    background-color: red;
    
  }
  
  // フッター 
  .footer {
    background-color: lightgreen;
    height: 150px;
    background-color: #3d3d3d;
    color: #ffffff;
    // background-image:url(samplee.jpg);
    // background-size: cover;
    // background-position:center bottom;
  }
    
}