  // フッター 
  .footer {
    width: 100%;  
    background-color:#174a5c;
    height: 150px;
    color: #fff ;
    text-align: center;
  }
  
  .footer-menu li{
    display: inline;
  }

  .fab{
    font-size: 2em;
    padding-left: 10px;
  }