// ヘッダー
.header {
  // height: 30%;
  line-height: 60px;
  padding-left: 20px;
  background-image:url(samplee.jpg);
  background-size: cover;
  font-size: 36px;
  font-weight: 100;
  color: lightyellow;
  background-color: gold;
}