// 新規登録画面のフレーム
.new--contents {
  // 新規登録画面のタイトル(単語新規登録の文字部分)
  &__title {
    font-size: 26px;
  }
  
  // 各種画面へのリンクフレーム
  .new--contents__header {
    display: flex;
    justify-content: flex-start;
    &__link{
      padding-left: 10px;
    }   
  }

  // 入力フォーム部分
  .new--contents__main {
    width: 50%;
    margin: 20px 0px 20px 20px;
    border: solid #dab550;
    border-radius: 10px;
    background-color: #dfbc5e;
    &__word{
      background-color: #ffffff;
      border: groove;
      font-size: 26px;
      padding: 10px 0 10px 20px;
      margin: 10px 10px 0 10px;
    }
  }

}